<!-- Property Binding -->
<!-- <app-dado [valor]="3"></app-dado>
<app-dado [valor]="70"></app-dado>
<app-dado [valor]="20"></app-dado> -->
<app-dado [valor]="valor1"></app-dado>
<app-dado [valor]="valor2"></app-dado>
<app-dado [valor]="valor3"></app-dado>

<div class="forma bg-primary">
  {{valor1}}
</div>
<div class="forma bg-danger ">
  {{valor2}}
</div>
<div class="forma bg-warning">
  {{valor3}}
</div>
<p class="text-danger">{{comprobarResultadoJuego()}}</p>
<button class="btn btn-success" (click)="lanzarDado()">Lanzar</button>  